div{
    height:50px;
    width:50px;
    background-color: aqua;
    text-align: center;
    border: 2px solid black;
    margin:20px;
    display:inline-block;
}

#static{
    background-color: lightcoral;
    position:static;
    top:10px;
    left:10px;
}
#relative{
    background-color: lightcoral;
    position:relative;
    top:20px;
    left:20px;
}
#absolute{
    background-color: lightcoral;
    position:absolute;
    top:50px;
    left:10px;
}
#fixed{
    background-color: rgb(165, 240, 128);
    position:fixed;
    top:50px;
    left:100px;
}